@using CQSAirborne.Model
@model CQSAirborne.Model.Employee.ChangePasswordViewModel
@{
    ViewData["Title"] = "Account";
    ViewData["PageHeader"] = "Change Password";
    ViewData["CurrentPage"] = "Change Password";
}

<div class="container-login100">
    <div class="wrap-login100">
        @using (Html.BeginForm("ChangePassword", "Account", null, FormMethod.Post, true, new { @class = "login100-form validate-form" }))
        {
            <span class="login100-form-title p-b-26">
                CQS Change Password
            </span><br/>
            <span style="color:red;text-align-last:center">
                @ViewBag.Message
            </span>
            <span style="text-align-last:center">
                This facility is not available for TAML & TASL Users.
            </span>
            <div class="form-row">
                <div class="col-12">
                    @Html.RequiredLabelFor(w => w.OldPassword, "Old Password")
                    @Html.PasswordFor(w => w.OldPassword, new { @class = "form-control" })
                    <span class="focus-input100" data-placeholder="Password"></span>
                    @Html.ValidationMessageFor(w => w.OldPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    @Html.RequiredLabelFor(w => w.Password, "New Password")
                    @Html.PasswordFor(w => w.Password, new { @class = "form-control" })
                    <span class="focus-input100" data-placeholder="Password"></span>
                    @Html.ValidationMessageFor(w => w.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row">
                <div class="col-12">
                    @Html.RequiredLabelFor(w => w.VerifyPassword, "Confirm New Password")
                    @Html.PasswordFor(w => w.VerifyPassword, new { @class = "form-control" })
                    <span class="focus-input100" data-placeholder="Password"></span>
                    @Html.ValidationMessageFor(w => w.VerifyPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button type="submit" class="login100-form-btn">
                        Submit
                    </button>
                </div>
            </div>

        }
    </div>
</div>
