@using CQSAirborne.Model
@model CQSAirborne.Model.Employee.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_MaterialThemeLoginLayout.cshtml";
    ViewData["Title"] = "Reset Password";
}

<div class="container-login100">
    <div class="wrap-login100">
        @using (Html.BeginForm("ResetPassword", "Account", null, FormMethod.Post, true, new { @class = "login100-form validate-form" }))
        {
            <span class="login100-form-title p-b-26">
                CQS Reset Password
            </span>
            <br />
            <br />
            @Html.HiddenFor(w => w.Token)
            <div class="wrap-input100 validate-input" data-validate="Enter valid Password">
                <span class="btn-show-pass">
                    <i class="zmdi zmdi-eye"></i>
                </span>
                @Html.PasswordFor(w => w.Password, new { @class = "input100" })
                <span class="focus-input100" data-placeholder="Password"></span>
                @Html.ValidationMessageFor(w => w.Password, "", new { @class = "text-danger" })
            </div>

            <div class="wrap-input100 validate-input" data-validate="Enter Confirm Password">
                <span class="btn-show-pass">
                    <i class="zmdi zmdi-eye"></i>
                </span>
                @Html.PasswordFor(w => w.VerifyPassword, new { @class = "input100" })
                <span class="focus-input100" data-placeholder="Confirm Password"></span>
                @Html.ValidationMessageFor(w => w.VerifyPassword, "", new { @class = "text-danger" })
            </div>

            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button type="submit" class="login100-form-btn">
                        Reset
                    </button>
                </div>
            </div>

        }
    </div>
</div>
