@using CQSAirborne.Web.Infrastructure.Helpers.Grid;
@{
    ViewData["Title"] = "Category";
    ViewData["CurrentPage"] = "Category";
    ViewData["PageHeader"] = "Category";
}
<style>

    td {
        word-wrap: break-word;
    }

    table .btn {
        width: 50px;
        padding: 0px !important;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary card-header-container">
                <h4 class="card-title ">Category List</h4>

                <div class="card-header-actions">
                    <a href='@Url.Action("Create","Category")' class="btn btn-warning">
                        <i class="fa fa-plus"></i>
                        Add New
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead class="text-primary">
                            <tr>
                                @*            <th>Category Code</th>*@
                                <th>Category Name</th>
                                <th>Category Type</th>
                                <th>Primary Category</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var dataUrl = '@Url.Action("GetCategoryData","Category")';
    var statusUrl = '@Url.Action("ChangeStatus", "Category")';
    var statusConfirmMsg = 'Are you sure you want to change the status of this category?';

    var grid;
    $(document).ready(function () {
        grid = $('#example').DataTable({
            "searching": true,
            "processing": true,
            "serverSide": true,
            "pageLength": 100,
            "scrollX": true,
            "scrollY": '450px',
            "order": [[0, 'asc']],
            "responsive": true,
            "columns": [
                //{ "data": "code" },
                { "data": "name" },
                { "data": "categoryType" },
                { "data": "primaryCategory" },
                {
                    "data": "isActive",
                    "mRender": function (data, type, row) {
                        var template = kendo.template($("#active-template").html());
                        return template({ id: row.id, isActive: row.isActive })
                    },
                    "searchable": false,
                    "orderable": false
                },
                {
                    "data": null,
                    "mRender": function (data, type, row) {
                        return "<a href='/Category/Edit/" + row.id + "' title='Edit' class='btn-link btn-primary'> <span class='fa fa-pencil'></span></a>"
                    },
                    "searchable": false,
                    "orderable": false,
                    "className": "center-content"
                }
            ],
            "ajax": {
                "url": dataUrl,
                "type": "POST",
                "error": function (xhr, error, code) {
                    //debugger;
                    if (code == "Unauthorized") {
                       Swal.fire({
                            title: 'Session Expired!',
                            icon: 'error',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Ok',
                            allowEscapeKey: true
                        }).then((result) => {
                            if (result.value) {
                                logoutWeb('@Url.Action("LogOut", "Account")');
                            }
                            if (result.dismiss === Swal.DismissReason.timer) {
                                logoutWeb('@Url.Action("LogOut", "Account")');
                            }
                        })
                    }
                }
            }
        });
    });
</script>

@(await Html.PartialAsync("_CommonListPartial"))
